<h1>Site Statistics</h1>
<%= column_chart @topic_names, library: {title: 'Rooms by Topic', hAxis: {title: "Topics"}, vAxis: {title: "Number of Rooms"}, backgroundColor: 'white', colors: ['#70050C']}, height: "300px" %>
<%= bar_chart @room_users, library: {title: 'Users per Room', hAxis: {title: "Number of Users"}, vAxis: {title: "Rooms"}, backgroundColor: 'white', colors: ['#70050C']}, height: "700px" %>
<%= button_to 'Back to My Profile', @user, method: 'get' %>
