<h1>Site Statistics</h1>
<br>
<% new_hash = {} %>
<% Topic.all.each do |topic| %>
  <% new_hash["#{topic.name}"] = topic.rooms.length %>
<% end %>
<%= column_chart new_hash, library: {title: 'Rooms by Topic', hAxis: {title: "Topics"}, vAxis: {title: "Number of Rooms"}, backgroundColor: '#FFFEDD', colors: ['red']} %>
<br>
<br>
<%= button_to 'Back to My Profile', @user, method: 'get' %>
