@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
  padding-left: 20px;
  background-color: white;
  font-family: 'Comfortaa', cursive;
}

h1 {
  color: #70050C;
}

h2 {
  color: #000;
}

h3 {
  color: black;
}

.post {
  list-style: none;
  padding: 10px;
  outline-style: solid;
  outline-width: 1px;
  background-color: lightyellow;
  width: 75%;
  word-wrap: break-word;
  box-shadow: 5px 5px 5px #888888;
  font-family: 'Coming Soon', cursive;
}

.right {
  float: right;
  margin-top: -20px;
}

textarea {
  width: 300px;
  height: 100px;
  background-color: lightyellow;
}

.name {
  color: blue;
}

.time {
  color: #730CE8;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #2EBD51;
}

a:hover {
  color: #58FF81;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
